= cache @record do
  .container.main-container
    .row
      %main.col-md-9
        %header
          %h1 RecordAs#new
        %section
          = render 'form', record: @record
      %aside.col-md-3
