.container.main-container
  .row
    %main.col-md-9
      %header
        %h1 Records#index
      %section
        %table.table
          %thead
            %tr
              %th Record
              %th Value
              %th TTL
          %tbody
            %tr
              %td
              %td
              %td

    %aside.col-md-3
