.container.main-container
  .row
    %main.col-md-9
      %header
        %h1 Records#index
      %section
        %table.table
          %thead
            %tr
              %th Record
              %th Value
              %th TTL
          %tbody
            - @records.each do |record|
              %tr
                %td = record.name
                %td
                %td

    %aside.col-md-3
