.container.main-container
  .row
    %main.col-md-9
      %header
        %h1 Records#index
      %section
        %table.table
          %thead
            %tr
              %th{colspan: 2} Record
              %th Value
              %th TTL (seconds)
              %th Active
              %th Priority
              %th
          %tbody
            - @records.each do |record|
              = render record, record: record
            -if @record
              %tr
                = render 'a_form', record: @record

      %section
        = link_to 'New A record', new_a_records_path, class: %w(btn btn-default)
        = link_to 'New TXT record', new_txt_records_path, class: %w(btn btn-default)

    %aside.col-md-3
